[Unit]
Description=Control Panel for Boat Software
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=<python-path> <control-panel-path> <name> <password>
Restart=on-abort
RestartSec=10

[Install]
WantedBy=multi-user.target
