[Unit]
Description=Web UI for WiFi network selection
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<user>
ExecStart=<python-path> <wifi-selector-path>
Restart=on-abort
RestartSec=10

[Install]
WantedBy=multi-user.target
